.login-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    gap: 2rem;
}

.btn{
    height: 5rem;
    width: 15rem;
    background-color: rgb(40, 212, 40);
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    font-weight: 600;
    font-size: large;
}
.credentials{
    margin:0 1rem 2rem 1rem;
    text-align: center;
}
.login-heading{
    font-size: 3rem;
    font-weight: 900;
}
.login-title, .login-subtitle{
    font-size: 1.5rem;
    font-weight: 600;
}
.imgdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img-title{
    font-size: 7rem;
    font-weight: 900;
}
.imgdiv img{
    width: 17rem;
    height: 17rem;
}

@media only screen and (max-width:430px){
    .imgdiv{
        flex-direction: column;
    }
    /* .btn{
        width: 10rem;
        height: 3rem;
        font-size: small;
    } */
}