.playlist-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    padding: 1rem 0rem;
}
.playlist-card{
    position: relative;
    width: 22%;
    height: 55%;
    border: 2px solid rgb(42 42 42 / 10%);
    background: linear-gradient(
        75deg,
        rgb(40, 58, 88) 0%,
        rgba(54, 69, 98, 0) 100%
      );
    border-radius: 2rem;
    margin: 1rem;
    transition: all .2 ease;
}
.playlist-img{
    width: 90%;
    border-radius: 2rem;
    aspect-ratio: 1;
    margin: 5%;
}
.playlist-title{
    font-size: 1.8rem;
    margin: 0 5%;
    text-transform: capitalize;
}
.playlist-subtitle{
    font-size: 1.5rem;
    margin: .3rem 5%;
    color: rgb(190, 190, 190);
    text-transform: capitalize;
}
.play-logo{
    position:absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .3s ease;
    width: 100%;
    text-align: right;
    border-radius: 1.5rem;
    padding: 1rem;
    background-color: rgb(201, 201, 201);
    background: linear-gradient(
        180deg,
        rgba(54, 69, 98, 0) 10%,
        rgba(54, 69, 98, 1) 100%
      );
}
.playlist-card:hover{
    scale: 1.02;
}
.playlist-card:hover .play-logo{
    opacity: 1;
}