.album-image{
    width: 80%;
    height: 65%;
    position: relative;
    margin: 8% auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.album-image img{
    width: 100%;
    height: 90%;
    border-radius: 30px;
    z-index: 1;
}
.glass-morphism {
    width: 90%;
    height: 88%;
    position: absolute;
    top:15%;
    filter: blur(10px);
}