.control-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 50%;
}
.pointer{
    cursor: pointer;
}
.play-pause{
    width: 65px;
    height: 65px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c96850;
    padding: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: inset -4px -4px 10px #55291e, inset 4px 4px 10px 1px #ffae9a;
}
.play-pause-btn.active {
    box-shadow: inset -4px -4px 10px #ff8769, inset 4px 4px 10px 1px #753d30;
  }

@media only screen and (max-width:1000px) {
   .play-pause{
    width: 55px;
    height: 55px;
   }
   .control-container{
    margin-top: 10px;
   }
}
@media only screen and (max-width:450px) {
   .play-pause{
    width: 55px;
    height: 55px;
   }
   .control-container{
    margin-top: 10px;
   }
}