.loading-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading-container img{
    /* border: 2px solid red; */
    height: 40%;
    width: 15%;
    /* aspect-ratio: 1; */
}