.sidebar{
    width: 10rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 3;
}

.user-image{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 1.2rem;
}
.nav-btns{
    width: 100%;
    justify-self: center;
}
a{
    text-decoration: none;
    color: inherit;
}
.btn-body{
    text-align: center;
    height: 6rem;
    margin: 1rem;
    padding-top: .5rem;
    border-radius: 1rem;
    color: #F8D9C0;
    transition: all 0.5s ease;
}
.btn-body:hover{
    color: white;
}
.active{
    color: white;
    background-color: rgba(244, 187, 146, 1);
    transform: scale(1.1);
}
.btn-text{
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    padding-top: .2rem;
}

@media only screen and (max-width:1000px) {
    .sidebar{
        padding: 5px;
        height: 80px;
        width: 100%;
        flex-direction: row;
        align-items: center ;
    }
    .nav-btns{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        margin: 0;
    }
    .btn-body{
        width: 7.2rem;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .user-image{
        height: 5rem;
        width: 6rem;
        margin: 0;
    }
    .active{
        color: white;
        background-color: rgba(244, 187, 146, 1);
        transform: scale(1);
    }
    .btn-text{
        font-size: 1.2rem;   
    }
  }
  @media only screen and (max-width:650px) {
    .sidebar{
        width: 100%;
        margin: auto;
        height: 49px;
    }
    .btn-text{
        font-size: .9rem;
        display: none;
    }
    .btn-body{
        margin: 0;
        width: 4rem;
        height: 4rem;
    }
    .nav-btns{
        height: 82%;
    }
    .res-btn{
        height: 60%;
    }
    .user-image{
        width: 60px;
        height: 45px;
    }
  }
  @media only screen and (max-width:450px) {
   
    .btn-text{
        display: none;
    }
   .res-btn{
    height: 75%;
   }
    .user-image{
        display: none;
    }
  }
  @media only screen and (max-width:375px) {
     .active{
        color: rgb(255, 255, 255);
        background-color: rgba(244, 187, 146, 0);

    }
  }